*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(197, 193, 193);
    min-height: 4rem;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}